body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: inline-flex;
}
.SideBar {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: azure;
}
.SideBar {
  width: 300px;
  height: 100vh;
  background-color: black;
  color: azure;
}

.Box {
  transition: 0.5s all ease;
  background-color: beige;
  height: 100rem;
  width: 100rem;
}
.Square {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-top: 30px;
  margin-left: 300px;
  z-index: 10000;
  background-color: coral;
}
